{% extends 'common/base.html' %}

{% block head_title %}
    Events
{% endblock %}

{% block content %}
{% include "common/nav_two.html" %}
<a href="{% url 'create book event' %}"><h3>Make Book Event</h3></a>
 <h1>Ongoing  Events:</h1>
    {% for even in events %}
        <div class="form">
        <img class="zub" src="{{ even.book_picture }}" alt="">
        <div class="text">{{ even.title }}</div>
       <div class="text">{{ even.description }}</div>
        <div class="datetime">{{ even.duration }}</div>
            <br>
        <a class="button details" href="{% url 'view book event' even.id %}">details</a>
        </div>

    {% endfor %}

{% endblock %}
