nav {
    background: lightslategray;
    height: 75px;
}

nav ul {
    display: flex;
}

nav ul li,
nav ul li a {
    color: antiquewhite;
    text-decoration: orchid;
    list-style: none;
    font-size: 22px;
    padding: 6px;
    margin-top: 10px;
}

nav ul li.right {
    position: absolute;
    right: 30px;
}

nav ul li.right a {
    font-size: 22px;
    margin: 5px auto;
}

body {
    background-color: #d48f77;
}

h1, h3, p {
    text-align: center;
}

.form {
    padding: 35px;
    width: 15%;
    margin: 5% auto 10% auto;
}

input[type=text],
input[type=url],
input[type=number],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 3px 15px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    align-items: center;
}

div[class=text],
div[class=text],
div[class=text],
div[class=datetime] {
    width: 100%;
    padding: 3px 15px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid;
    border-radius: 3px;
    box-sizing: border-box;
}

image[class=zub] {
    width: 150px;
}


input[type=dislikes],
.button.dislikes {
    background-color: brown;
    border: 2px solid rgba(170, 38, 50, 0.85);
    font-size: 10px;
    margin-top: auto;
    padding: 5px 10px;
    border-radius: 2px;
    text-align: center;
}


input[type=likes],
.button.likes {
    background-color: cornflowerblue;
    border: 2px solid #008CBA;
    font-size: 10px;
    margin-top: auto;
    padding: 5px 10px;
    border-radius: 2px;
    text-align: center;
}


input[type=back],
.button.back {
    background-color: #64ed66;
    border: 2px solid #229924;
    font-size: 10px;
    margin-top: auto;
    padding: 5px 10px;
    border-radius: 2px;
    text-align: right;
}

img {
    padding: revert;
    width:100%;
    object-fit: scale-down;
}
