{% extends 'common/base.html' %}

{% load static %}

{% block content %}
    {% include "common/nav_three.html" %}
    <h1>Home Page</h1>
    {% for book in books %}
        <hr>

        <p>{{ book.title }} from {{ book.author }}</p>
        <p>{{ book.length }}</p>
        <p>{{ book.review }}</p>
        <p>{{ book.emotional_value }}</p>
        <h3><a href="{% url 'view book' book.id %}"><img src="{% static 'images/183334.png' %}" alt=""
                                                         style="width: 3%; position: center"><br>View Book </a></h3>
    {% endfor %}
{% endblock %}
