<nav>
    <ul>
        <li class="text">Book Club</li>

        <li class="right">
            <a methods="post" class="nav-link" href="{% url 'home' %}">Home</a>
            <a methods="post" class="nav-link" href="{% url 'about' %}">About</a>
            <a methods="post" class="nav-link" href="{% url 'add book' %}">ADD BOOK</a>
            <a methods="post" class="nav-link" href="{% url 'about' %}">About</a>
            <a methods="post" class="nav-link" href="{% url 'all events' %}">Events</a>
            <a methods="post" class="nav-link" href="{% url 'view profile' %}">User</a>

            <a class="nav-link" href="#">Log out</a>
        </li>

    </ul>
</nav>