{% extends 'common/base.html' %}

{% block content %}
    {% include 'common/nav_two.html' %}
        <h3>You profile</h3>
         <div class="w-50 m-auto">
            <form action="{% url 'view profile' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-success">Update</button>
            </form>
        </div>

        {% for book in user_books %}

            <hr>
            <p>{{ book.title }} from {{ book.author }}</p>
            <p>{{ book.length }}</p>
            <p>{{ book.review }}</p>
            <p>{{ book.emotional_value }}</p>
            <a href="{% url 'view book' book.id %}">
                <button style="position: center">View Details</button>
            </a>
            <hr>
        {% endfor %}
{% endblock %}