{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    {% include 'common/nav_two.html' %}
    <h3>
        Hello, You:
        <br>
        {% if profile.profile_image %}
            <img src="{{ profile.profile_image.url }}" alt="" style="width: 75px">
        {% endif %}
    </h3>
    <div class="w-50 m-auto" style="padding-left: 35%">
        <form action="{% url 'view profile' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-success">Update</button>
        </form>
        <a style='padding-left: 90%' class="button delete" methods="post" href="{% url 'delete profile' %}">Delete Profile</a>
    </div>


{% endblock %}